includes:
    - phpstan-baseline.neon
parameters:
    level: 1
    errorFormat: prettyJson
    paths:
        - Controls
        - Domain
        - Jobs
        - Pages
        - Presenters
        - Web
        - WebServices
        - config
        - lang/AvailableLanguage.php
        - lang/AvailableLanguages.php
        - lang/Language.php
        - lib
        - phing-tasks
        - plugins
        - tests
    excludePaths:
        analyse:
            - Web/css/
            - Web/scripts/
            - build/ (?)
            - lib/external/Slim/Http/Util.php
            - plugins/
            - tpl_c/ (?)
            - vendor/
    bootstrapFiles:
        - vendor/autoload.php
