parameters:
	ignoreErrors:
		-
			message: '#^Variable \$resource might not be defined\.$#'
			identifier: variable.undefined
			count: 24
			path: Presenters/Admin/ManageResourcesPresenter.php

		-
			message: '#^Variable \$user might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: Presenters/Admin/ManageUsersPresenter.php

		-
			message: '#^Class Slim\\Router constructor invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: lib/external/Slim/Slim.php

		-
			message: '#^Call to an undefined static method PEAR\:\:raiseError\(\)\.$#'
			identifier: staticMethod.notFound
			count: 5
			path: lib/external/pear/Config.php

		-
			message: '#^Call to an undefined static method PEAR\:\:raiseError\(\)\.$#'
			identifier: staticMethod.notFound
			count: 9
			path: lib/external/pear/Config/Container.php

		-
			message: '#^Method Config_Container\:\:countChildren\(\) should return int but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: lib/external/pear/Config/Container.php

		-
			message: '#^Variable \$obj might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: lib/external/pear/Config/Container.php

		-
			message: '#^Variable \$testFields might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: lib/external/pear/Config/Container.php

		-
			message: '#^Call to an undefined static method PEAR\:\:raiseError\(\)\.$#'
			identifier: staticMethod.notFound
			count: 4
			path: lib/external/pear/Config/Container/PHPArray.php

		-
			message: '#^Variable \$string in isset\(\) is never defined\.$#'
			identifier: isset.variable
			count: 1
			path: lib/external/pear/Config/Container/PHPArray.php

		-
			message: '#^Call to an undefined static method PEAR\:\:raiseError\(\)\.$#'
			identifier: staticMethod.notFound
			count: 4
			path: lib/external/pear/PEAR.php

		-
			message: '#^Call to an undefined static method PEAR\:\:setErrorHandling\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: lib/external/pear/PEAR.php
