includes:
    - phpstan-baseline.neon

parameters:
    level: 0
    errorFormat: prettyJson
    paths:
        - Controls
        - Domain
        - Jobs
        - Pages
        - Presenters
        - Web
        - WebServices
        - lang/AvailableLanguage.php
        - lang/AvailableLanguages.php
        - lang/Language.php
        - lib
    excludePaths:
        analyse:
            - vendor/
            - tpl_c/ (?)
            - build/ (?)
            - Web/scripts/
            - Web/css/
            - plugins/
    bootstrapFiles:
        - vendor/autoload.php
