parameters:
	ignoreErrors:
		-
			message: '#^Class ScheduleAvailabilityRule constructor invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/Application/Reservation/ScheduleAvailabilityRuleTest.php

		-
			message: '#^Cannot instantiate class PHPUnit\\Framework\\TestSuite via private constructor PHPUnit\\Framework\\TestSuite\:\:__construct\(\)\.$#'
			identifier: new.privateConstructor
			count: 1
			path: tests/TestHelper.php

		-
			message: '#^Class PHPUnit\\Framework\\TestSuite constructor invoked with 0 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: tests/TestHelper.php

		-
			message: '#^Instantiated class UnitTest not found\.$#'
			identifier: class.notFound
			count: 1
			path: tests/TestHelper.php

		-
			message: '#^Access to an undefined property TestSlim\:\:\$getResponse\.$#'
			identifier: property.notFound
			count: 1
			path: tests/WebService/SlimWebServiceRegistryTest.php

		-
			message: '#^Used function PHPSTORM_META\\map not found\.$#'
			identifier: function.notFound
			count: 1
			path: tests/WebServices/SchedulesWebServiceTest.php

		-
			message: '#^Access to an undefined property FakeDBConnection\:\:\$_LastSqlCommand\.$#'
			identifier: property.notFound
			count: 1
			path: tests/fakes/DBFakes.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$allowMultiDay\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$autoAssign\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$color\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$contact\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$creditCount\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$description\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$location\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$maxLength\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$maxNotice\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$maxParticipants\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$minLength\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$minNoticeAdd\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$minNoticeDelete\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$minNoticeUpdate\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$notes\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$peakCreditCount\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$requiresApproval\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$resourceName\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$scheduleId\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ReservationResourceRow\:\:\$statusId\.$#'
			identifier: property.notFound
			count: 2
			path: tests/fakes/DBRows.php

		-
			message: '#^Access to an undefined property ExistingReservationSeriesBuilder\:\:\$resources\.$#'
			identifier: property.notFound
			count: 1
			path: tests/fakes/ExistingReservationSeriesBuilder.php

		-
			message: '#^Access to an undefined property FakeReminder\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: tests/fakes/FakeReminder.php

		-
			message: '#^Access to an undefined property FakeReminder\:\:\$end_date\.$#'
			identifier: property.notFound
			count: 1
			path: tests/fakes/FakeReminder.php

		-
			message: '#^Access to an undefined property FakeReminder\:\:\$end_time\.$#'
			identifier: property.notFound
			count: 1
			path: tests/fakes/FakeReminder.php

		-
			message: '#^Access to an undefined property FakeReminder\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: tests/fakes/FakeReminder.php

		-
			message: '#^Access to an undefined property FakeReminder\:\:\$location\.$#'
			identifier: property.notFound
			count: 1
			path: tests/fakes/FakeReminder.php

		-
			message: '#^Access to an undefined property FakeReminder\:\:\$machid\.$#'
			identifier: property.notFound
			count: 1
			path: tests/fakes/FakeReminder.php

		-
			message: '#^Access to an undefined property FakeReminder\:\:\$memberid\.$#'
			identifier: property.notFound
			count: 1
			path: tests/fakes/FakeReminder.php

		-
			message: '#^Access to an undefined property FakeReminder\:\:\$resid\.$#'
			identifier: property.notFound
			count: 1
			path: tests/fakes/FakeReminder.php

		-
			message: '#^Access to an undefined property FakeReminder\:\:\$resource_name\.$#'
			identifier: property.notFound
			count: 1
			path: tests/fakes/FakeReminder.php

		-
			message: '#^Access to an undefined property FakeReminder\:\:\$start_date\.$#'
			identifier: property.notFound
			count: 1
			path: tests/fakes/FakeReminder.php

		-
			message: '#^Access to an undefined property FakeReminder\:\:\$start_time\.$#'
			identifier: property.notFound
			count: 1
			path: tests/fakes/FakeReminder.php

		-
			message: '#^Access to an undefined property FakeReminder\:\:\$timezone\.$#'
			identifier: property.notFound
			count: 1
			path: tests/fakes/FakeReminder.php

		-
			message: '#^Deprecated in PHP 8\.4\: Parameter \#2 \$session \(UserSession\) is implicitly nullable via default value null\.$#'
			identifier: parameter.implicitlyNullable
			count: 1
			path: tests/fakes/FakeScheduleService.php
